<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Image Colorizer</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <header>
          <nav class="navbar">
            <a href="#" class="nav-logo">
              <img src="static/rokLogo.png" alt="logo" class="navbar-logo-img">
            </a>
            <h2 class="logo-text">COLOR IT</h2>
            <ul class="nav-menu">
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="About.html" class="nav-link">About</a>
              </li>
            </ul>
          </nav>
        </header>
     </div>
        <main>
    
            <div class="general">
                <h1>About COLOR IT</h1>
                <div class="around">
                    <img src="static/preview.jpg" class="pic">
                    <p>Our platform leverages advanced artificial intelligence algorithms to seamlessly and rapidly transform black-and-white or vintage photographs into vibrant, full-color images, preserving their historical essence while enhancing visual appeal.</p>
                </div>
            </div> 
        <br>
        <br>
            <div class="go-al">
                <h1>Our Mission</h1>
                <div class="mission">
                <p>This website aims to provide a simplified experience for users to explore machine learning techniques in image processing, turning gray memories into vivid images.</p>
            </div></div> 
            <br>
            <br>       
            <div class="feau-tres">
                <h1>What We Offer?</h1>
               <div class="offer"><ul>
                <li>Easily upload a black and white image.</li>
                <li>Instant preview of the results after colorization.</li>
                <li>Download the image after previewing it.</li>
               </ul>
            </div></div>
        
        
        </main>
    </div>

    <footer>
        <p>Powered by: AI (DNN architecture)</p>
        <p>Contact us:
          <a href="mailto:simpleimagecolorization@gmail.com"  style="color:rgb(255, 217, 0, 0.726); text-decoration: none;">simpleimagecolorization@gmail.com</a>

        </p>
     </footer>
</body>
</html>
